html, body {
    width: 100%;
    height: 100%
    font-family: 'Marck Script', cursive;
}

/*Nav*/
.navbar {
    padding: .7rem;
}


.main-container {
    height: 100vh;
    background: url('../images/purple.yoga.jpeg') no-repeat bottom center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}


/*Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-main {
    position: relative;
    color: #fafafa;
    font-weight: bold;
}

/*About*/

.about {
    width: 70%;
    margin: 0 auto;
    padding-top: 4rem;
}

.img-fluid {
    height: auto;
    max-width: 100%;
}

img {
    border-style: none;
    vertical-align: middle;
}

.col-md-6 {
    position: relative;
    padding-right: 14px;
    padding-left: 14px;
    width: 100%;
}

.mb-4 {
    margin-bottom: 4em;
}

.ml-auto {
    margin-left: auto;
}

/*Courses*/

.fa-leaf {
    color: #783977;
    font-size: 4em;
    margin: 3px;
}

.fa-eye {
    color: #783977; 
    font-size: 4em; 
    margin: 3px;
}

.fa-female {
    color: #783977;
    font-size: 4em;
    margin: 3px;
}