@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Roboto:wght@700&family=Sriracha&display=swap:400,500,600,700');

/* ---------------- Nav --------------- */
.nav {
    width: 100%;
    font-family: 'Sriracha', cursive;
}

.navbar .navbar-brand {
    font-weight: 800;
    font-size: 24px;
    color: #491558;
    font-family: 'Sriracha', cursive;
}

.navbar-nav{
    font-family: 'Sriracha', cursive;
    font-size: 20px;
}

.btn-nav {
    background-color: transparent;
    color: #fafafa;
    font-family: 'Sriracha', cursive;
}

.btn-dark {
    font-family: 'Sriracha', cursive;
}

/* ---------------- Main --------------- */

.main-container {
    height: 70vh;
    
    background: url('../images/purple.yoga.jpeg') no-repeat bottom center fixed; 
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.opaque-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(69, 38, 77, 0.5);
}

.btn-main {
    color: #fff;
    background-color: #491558;
    border-color: #491558;;
    margin-top: 35px;
    font-family: 'Sriracha', cursive;
}

.no-margin {
    margin-left: 0px;
    margin-right: 0px;
}
/* ---------------- Jumbotron --------------- */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: #fafafa;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0;
    font-family: 'Sriracha', cursive;
}

.jumbotron .lead {
    color: #fafafa;
    margin: 0 0;
    font-family: 'Handlee', cursive;
}

/* ---------------- About --------------- */

.img-fluid {
    display: flex;
    flex-wrap: wrap;
}


.about-hr {
    width: 15rem;
    margin-top: .4rem;
    margin-bottom: 1rem;
    border-top: 4px solid #491558;
    margin-left: -31px;
}

.about-me {
    color:#000000;
    font-size: 43px;  
    font-family: 'Sriracha', cursive;
}

.btn-about {
    background-color: #491558;
    border: 5px solid #491558;
    color: #fafafa;
    margin-top: 30px;
    text-align: middle;
    font-family: 'Sriracha', cursive;
}

.lead-about {
    text-align: center;
    margin-top: 14%;
    margin-left: 20px;
}


.space {
    width: 7%;
    margin-top: .4rem;
    margin-bottom: 1rem;
    border-top: 5px solid #491558;
}


/* ---------------- Courses --------------- */

.container-wrapper {
    text-align: center;
    margin-top: 15px;
}

.headline {
   font-family: 'Handlee', cursive;
}

.courses {
    text-align: center;
    margin-top: 15px;
    background: #ece2ec;
}

.container-courses {
    text-align: center;
    margin-bottom: 48px;
}

.fa-leaf {
    color: #491558;
    font-size: 4em;
    margin: 1px;
}

.fa-eye {
    color: #491558;
    font-size: 4em; 
    margin: 1px;
}

.fa-female {
    color: #491558;
    font-size: 4em;
    margin: 1px;
}


/* ---------------- Footer --------------- */

footer {
    background-image: linear-gradient(to right, rgb(185, 140, 183), rgb(118, 56, 129));
    color: #fafafa;
    padding-top: 1rem;
}

.center-footer {
    text-align: center;
    font-family: 'Handlee', cursive;
}

.fa-clock {
    color: #491558;
    font-size: 2em;
}

.fa-address-card {
    color: #491558;
    font-size: 2em;
}

.social {
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: 800;
    vertical-align: center;
    margin-top: 20px;
}

.social a {
    color: rgb(255, 255, 255);
    padding: 1rem;
}

.text-color {
    color: #491558;
    font-weight: 800;
    font-size: 30px;
}

/* ---------------- about.html--------------- */

.about-header {
    font-family: 'Sriracha', cursive;
    font-size: 45px;
}


/* ---------------- courses.html--------------- */

/* Header */

.header-container {
    margin-top: 100px;
}

.highlight {
    font-family: 'Sriracha', cursive;
}

.header-icon {
    font-size: 27px;
}

.plan-subs {
    text-align: center;
}

.small-text {
    font-family: 'Handlee', cursive;
    font-size: 18px;
}


.header-plan {
    font-family: 'Sriracha', cursive;
}

.container-plan {
    text-align: center;
    background-color: #ece2ec;
}

.hr-subs {
    width: 13rem;
    border-top: 4px solid #491558;
}

.subscription{
    margin-top: 25px;
    font-size: 30px;
    font-weight: 500;
}

.price {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #491558;
    font-family: 'Sriracha', cursive;
}

.fa-plus {
    margin-top: 25px;
    font-size: 15px;
    color: #491554;
    
}

.btn-plan {
    background-color: #491558;
    color: #fafafa;
    margin-top: 30px;
    width: 13rem;
    border-radius: 12px;
    font-size: 18px;
    font-family: 'Sriracha', cursive;
}

/* ---------------- Modal --------------- */

.modal-title {
    font-size: 30px;
    font-weight: 900;
    color: #491558;
    font-family: 'Sriracha', cursive;
}

.form-group {
    font-size: 13px;
    font-family: 'Handlee', cursive;
}

.btn-block {
    background-color: #491558;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 12px;
    font-family: 'Sriracha', cursive;
}
